p {font-family: 'Arial', sans-serif;
    font-size: 45px;
    color: rgb(15, 198, 67);
    text-align: justify;
    font-weight: bold;
    font-style: italic;
}


header {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
font-size: 60px;
background-color: blue;
text-align: center;
font-style: italic;
border: 10px solid black;
margin-left: 50px;
margin-right: 50px;

  }

.header {
    display: flex; 
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 5px; 
    background: red;
}

.headertext { 
  
    background-color: blue;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    font-size: 100px;
    text-align: center;
    flex-grow: 1;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background: blue;

}

.navtext1 {
    background-color: red;
    border: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    text-align:center;
    flex-grow: 1;
}
.navtext2 {
    background-color: red;
    border: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    text-align:center;
    flex-grow: 1;
}
.navtext3 {
    background-color: red;
    border: 5px;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    text-align:center;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background: blue;
    align-items: baseline;
    flex-wrap: wrap;
    align-content: center;

}

.main1 {
    background-color: rgb(134, 234, 166);
    border: 5px;
    padding: 5px;
    margin:;
    font-size: 20px;
    text-align:start;
    flex-grow: 1;

}
.main2 {
    background-color: rgb(55, 172, 90);
    border: 5px;
    padding: 5px;
    margin: -10px;
    font-size: 20px;
    text-align:center;
    flex-grow: 1;
}
.main3 {
    background-color: rgb(18, 233, 36);
    border: 5px;
    padding: 5px;
    margin: -10px;
    font-size: 20px;
    text-align:end;
    flex-grow: 1;
}

